@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --color-white: #fff;
  --color-primary: #3399ff;
  --color-primary-light: #dfefff;
  --color-positive: #19b444;
  --color-positive-light: #dcffe6;
  --color-gray-200: #eaeaea;
  --color-gray-400: #d7d7d7;
  --color-gray-600: #ababab;
  --color-gray-800: #686868;
  --color-gray-1000: #424242;
  --font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-family-var: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  font-family: var(--font-family);
}

button {
  font-family: var(--font-family);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: var(--font-family-var);
  }

  button {
    font-family: var(--font-family-var);
  }
}

code {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
}