.container {
  overflow: scroll;
  height: 100%;
}

.innerContainer {
  margin: auto;
  max-width: 1050px;
  padding: 46px 20px;
}

.innerContainer>*+* {
  margin-top: 25px;
}

.toolbarContainer {
  flex: none;
}

.listContainer>*+* {
  margin-top: 15px;
}