.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.header {
  display: flex;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.page {
  flex-grow: 1;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.page::-webkit-scrollbar {
  display: none;
}